<IfModule mod_rewrite.c>
    RewriteEngine On

    # Root dir as base for rules
    RewriteBase /

    # ignore requests to files and folders
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # redirect everything to index.php
    RewriteRule ^(.*)$ index.php [L,QSA]
</IfModule>